@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Dangrek&family=Fasthand&family=Fjalla+One&family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Metal&family=Moul&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Dangrek&family=Fasthand&family=Fjalla+One&family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Metal&family=Moul&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: "Kantumruy Pro", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    padding-top:190px;
}
.first {
    width: 100%;
    height: 130px;
    background-color: #1B3351;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 2px 8px rgba(0,0,0,0.35);
    position: fixed;
    top: 0;
    z-index: 100;
}
.container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    width: 250px;
    height: 60px;
    margin-left: 20px;
}
.nav{
    flex-wrap: wrap;
    margin-left: 0;
    display: flex;
}
.nav label{
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.nav .ib{
    color: rgb(230, 198, 20);
}
.cam img{
    width: 30px;
    height: 20px;
    border: white solid 1px;
    margin-left: 0;
}
.nav .search{
    display: flex;
    gap: 5px;
}
.search i{
    margin-top: 4px;
}
.nav .back{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #1B3351;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav .back:hover{
    background-color: #1B2232;
}
.nav .so{
    width: 150px;
    height: 50px;
}
.nav .aa{
    width: 150px;
    height: 50px;
    z-index: 10;
}
.nav .search{
    width: 100px;
    height: 50px;
}
.nav .ib{
    width: 160px;
    height: 50px;
}
.nav .cam {
    width: 50px;
    height: 45px;
    border-radius: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.drop1{
    position: relative;
}
.drop1:hover .down1{
    height: 170px;
    border: grey solid 1px;
}
.drop1:hover .aa{
    width: 150px;
    height: 50px;
    background-color: #1B2232;
}
.nav .down1{
    position: absolute;
    width: 180px;
    height: 0;
    border-radius: 10px;
    background-color: #122133;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: end;
    padding-right: 10px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    right: 0;
}
.down1 a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.down1 a:hover{
    color: rgb(221, 161, 32);
    text-decoration: underline;
}
.down1 .divider {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: none;
}
.drop1:hover #icon-down1{
    display: none;
}
.drop1 #icon-up1{
    display: none;
}
.drop1:hover #icon-up1{
    display: block;
}
.drop2{
    position: relative;
}
.drop2:hover .down2{
    height: 60px;
    border: grey solid 1px;
}
.nav .down2{
    position: absolute;
    width: 180px;
    height: 0;
    border-radius: 10px;
    background-color: #122133;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: end;
    padding-right: 10px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    right: 0;
}
.down2 a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.down2 a:hover{
    color: rgb(221, 161, 32);
    text-decoration: underline;
}
.drop2:hover #icon-down2{
    display: none;
}
.drop2 #icon-up2{
    display: none;
}
.drop2:hover #icon-up2{
    display: block;
}
.container .menu{
    display: none;
    color: grey;
    font-size: 24px;
    cursor: pointer;
}
@media (max-width: 900px){
    .first{
        height: 80px;

    }
    .logo{
        width: 180px;
        height: 50px;
    }
    .nav{
        display: none;
    }   
    .container{
        justify-content: center;
    }
    .container .menu{
        position: absolute;
        display: flex;
        left: 10px;
        text-decoration: none;
    }
    body{
        padding-top: 120px;
    }
}
.menu{
    width: 40px;
    height: 35px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B3351;
    cursor: pointer;
    transition: all 0.3s ease;
}
.menu:hover{
    background-color: #1B2232;
}
.second{
    width: 100%;
    height: 60px;
    background-color: #122133;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: fixed;
    top: 130px;
    z-index: 5;
}
.container-nav{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 15px;
}
.container-nav Label{
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.container-nav .nav1{
    display: flex;
    gap: 30px;
}
.container-nav .exchange{
    display: flex;
    gap: 10px;
}
.nav1 Label:hover{
    color: rgb(221, 161, 32);
}
.nav1 Label:hover #icon-down1{
    display: none;
}
.nav1 #icon-up1{
    display: none;
}
.nav1 Label:hover #icon-up1{
    display: inline;
}
.drop3{
    position: relative;
}
.drop3:hover .down3{
    height: 220px;
    border: grey solid 1px;
}
.down3{
    position: absolute;
    left: 0;
    width: 250px;
    height: 0;
    border-radius: 10px;
    background-color: #122133;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    padding-right: 10px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    right: 0;
}
.nav1 a:first-child{
    margin-top: 10px;
}
.nav1 a{
    margin-top: 3px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    transition: all 0.5s ease;
}
.nav1 a:hover{
    color: rgb(221, 161, 32);
    text-decoration: underline;
}
.drop4{
    position: relative;
}
.drop4:hover .down4{
    height: 230px;
    border: grey solid 1px;
}
.down4{
    position: absolute;
    width: 250px;
    height: 0;
    border-radius: 10px;
    background-color: #122133;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    padding-right: 10px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    left: 0;
}
.drop5{
    position: relative;
}
.drop5:hover .down5{
    height: 210px;
    border: grey solid 1px;
}
.down5{
    position: absolute;
    width: 250px;
    height: 0;
    border-radius: 10px;
    background-color: #122133;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    padding-right: 10px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    left: 0;
}
.drop6{
    position: relative;
}
.drop6:hover .down6{
    height: 390px;
    border: grey solid 1px;
}
.down6{
    position: absolute;
    width: 250px;
    height: 0;
    border-radius: 10px;
    background-color: #122133;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    padding-right: 10px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    left: 0;
}
.nav1 Label:last-child{
    padding-top: 4px;
}
.container-nav .exchange{
    display: flex;
    gap: 20px;
}
.container-nav .exchange Label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.exchange Label:nth-child(2) img{
    width: 25px;
    height: 15px;
}
.exchange Label:nth-child(2) span{
    font-size: 13px;
    margin-left: 5px;
}
.exchange Label:nth-child(3) span{
    color: red;
}
.exchange Label:nth-child(4) span{
    color: green;
}
@media (max-width: 900px){
    .second{
        height: 40px;
        top: 80px;
    }
    .container-nav .nav1{
        display: none;
    }
}
.third{
    position: relative;
    width: 100%;
    height:420px;
    background-color: #1B2232;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 2px 8px rgba(0,0,0,0.35);
}
.third img{
    width: 1175px;
}
.third i{
    font-size: 40px;
    color: grey;
    position: absolute;
}
.third #left{
    left: 20px;
}
.third #right{
    right: 20px;
}
.third i:hover{
    color: white;
    cursor: pointer;
}
.third .dots{
    position: absolute;
    display: flex;
    bottom: 20px;
    gap: 7px;
}
.third .dots .circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    border: #122133 solid 1px;
}
.third .dots .fill{
    background-color: #122133;
}
@media(max-width: 900px){
    .third{
        height: 260px;
    }
    .third img{
        width: 730px;
    }
}
.fourth{
    width: 100%;
    height: 270px;
    background-color: #122133;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.fourth .block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
}
.fourth .block img{
    width: 65px;
    height: 65px;
    border: grey solid 1px;
    border-radius: 10px;
    padding: 12px;
}
.fourth .block Label{
    color: white;
    font-size: 12px;
    margin-top: 20px;
}
.fourth div:nth-child(3){
    margin-top: 20px;
}
.fourth div:nth-child(3) Label{
    text-align: center;
}
.fourth .block:hover label{
    text-decoration: underline;
}

.fourth .block:hover img{
    border-color: white;
}
.fifth{
    width: 100%;
    height: 2000px;
    background-color: #091521;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wraps .wrap{
    width: 1150px;
    height: 450px;
    margin: 70px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    border-radius: 15px;
}
.wraps .wrap2{
    width: 1150px;
    height: 350px;
    margin: 70px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    border-radius: 15px;
}
.wraps .wrap .box{
    width: 330px;
    height: 420px;
    background-color: #1B2232;
    flex-shrink: 0;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.wraps .wrap .box1{
    width: 330px;
    height: 420px;
    background-color: #1B2232;
    flex-shrink: 0;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    line-height: 55px;
}
.wraps .wrap2 .box2{
    width: 330px;
    height: 325px;
    background-color: #1B2232;
    flex-shrink: 0;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.wraps .wrap2 .box2nd{
    width: 330px;
    height: 325px;
    background-color: #1B2232;
    flex-shrink: 0;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    line-height: 55px;
}
.wrap .box .img-box{
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 14px;
}
.wrap2 .box2 .img-box2{
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-radius: 14px 14px 0 0;
}
.wrap .box .img-boxes{
    width: 330px;
    height: 340px;
    overflow: hidden;
    border-radius: 14px 14px 0 0;
}
.wrap .box .img-box img{
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    transform-origin: center center;
    transition: all 0.3s ease-in-out ;
}
.wrap2 .box2 .img-box2 img{
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    transform-origin: center center;
    transition: all 0.3s ease-in-out ;
}
.wrap .box .img-boxes img{
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    transform-origin: center center;
    transition: all 0.3s ease-in-out ;
}
.wrap .box Label{
    color: #a4c4eb;
    font-size: 14px;
    margin: 20px;
}
.wrap2 .box2 Label{
    color: #a4c4eb;
    font-size: 14px;
    margin: 20px;
}
.wrap .box:hover Label{
    color: white;
    text-decoration: underline;
}
.wrap2 .box2:hover Label{
    color: white;
    text-decoration: underline;
}
.wrap .none{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap2 .none2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap .box:hover img{
    width: 105%;
}
.wrap2 .box2:hover img{
    width: 105%;
}
.wrap .none Label{
    color: white;
}
.wrap .none .our_news{
    font-size: 20px;
}
.wrap .none .show{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background-color: #1B3351;
}
.wrap .none .show i{
    font-size: 25px;
}
.wrap .none .show:hover span{
    cursor: pointer;
    text-decoration: underline;
}
.wrap2 .none2 Label{
    color: white;
}
.wrap2 .none2 .our_news{
    font-size: 20px;
}
.wrap2 .none2 .show{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background-color: #1B3351;
}
.wrap2 .none2 .show i{
    font-size: 25px;
}
.wrap2 .none2 .show:hover span{
    cursor: pointer;
    text-decoration: underline;
}
.sixth{
    width: 100%;
    height: 4600px;
    background-color: #091521;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sixth .big-box{
    margin: 30px;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 45px;
}
.big-box .big-img{
    display: flex;
    flex-direction: column;
}
.big-box .big-img img{
    width: 555px;
    border-radius: 15px;
    transition: all 0.4s ease;
}
.big-box .big-img img:hover{
    width: 590px;
    cursor: pointer;
}
.big-box .big-img Label{
    margin-top: 20px;
    color: #a4c4eb;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.big-box .big-img Label:hover span{
    color: white;
    text-decoration: underline;
}
.big-box .big-img Label:hover i{
    color: white;
}
.seventh{
    width: 100%;
    height: 1900px;
    background-color: #091521;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.seventh .public-sector{
    border-radius: 10px;
    width: 60%;
    height: 270px;
    background-color: #1B2232;
    text-align: center;
    padding: 25px;
}
.seventh Label{
    color: #a4c4eb;
    cursor: pointer;
}
.seventh Label:hover{
    color: white;
    text-decoration: underline;
}
.seventh .icons{
    margin-top: 30px;
}
.seventh .icons img{
    width: 70px;
    border-radius: 6px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.seventh .local{
    margin-top: 30px;
    width: 60%;
    height: 730px;
    background-color: #1B2232;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
}
.seventh .international{
    margin-top: 30px;
    width: 60%;
    height: 380px;
    background-color: #1B2232;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
}
.wraps .wrap2 .last-box{
    width: 330px;
    height: 325px;
    background-color: #1B2232;
    flex-shrink: 0;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.last-img-box{
    width: 100%;
    height: 35%;
    background-color: #DDDDDD;
    border-radius: 14px 14px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-img-box:hover{
    background-color: white;
}
.last-img-box:hover img{
    width: 220px;
}
.last-img-box img{
    width: 200px;
    transition: all 0.4s ease-in-out;
}
.last-box span{
    color: #a4c4eb;
}
.last-box span:hover{
    color: white;
    text-decoration: underline;
}
.last-box p{
    padding: 20px;
    color: white;
    font-size: 14px;
    line-height: 20px;
}
.eighth{
    width: 100%;
    height: 500px;
    background-color: #122133;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.eighth Label{
    color: white;
    font-size: 12px;
}
.objectives{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.about{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.final-img{
    display: flex;
    gap: 20px;
}
.final-img img{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 150px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.final-img img:hover{
    width: 180px;
}
.social-icon{
    margin-top: 30px;
    display: flex;
    gap: 15px;
}
.social-icon img{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.social-icon img:hover{
    border: white solid 2px;
}